<div class="mat-elevation-z8" style="margin: 3%;">
  <table mat-table [dataSource]="dataSource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let employee"> {{employee.id}} </td>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let employee"> {{employee.firstName}} </td>
    </ng-container>

    <!-- lastName Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let employee"> {{employee.lastName}} </td>
    </ng-container>

    <!-- startDate Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let employee"> {{employee.startDate}} </td>
    </ng-container>

    <!-- roleId Column -->
    <ng-container matColumnDef="roleId">
      <th mat-header-cell *matHeaderCellDef>Role Id</th>
      <td mat-cell *matCellDef="let employee"> {{employee.roleId}} </td>
    </ng-container>

    <!-- managerId Column -->
    <ng-container matColumnDef="managerId">
      <th mat-header-cell *matHeaderCellDef>Manager Id</th>
      <td mat-cell *matCellDef="let employee"> {{employee.managerId}} </td>
    </ng-container>

    <!-- isArchived Column -->
    <ng-container matColumnDef="isArchived">
      <th mat-header-cell *matHeaderCellDef>Is Archived</th>
      <td mat-cell *matCellDef="let employee"> {{employee.isArchived}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let employee"> {{employee.email}} </td>
    </ng-container>

    <!-- personalPhoneNumber Column -->
    <ng-container matColumnDef="personalPhoneNumber">
      <th mat-header-cell *matHeaderCellDef>personalPhoneNumber</th>
      <td mat-cell *matCellDef="let employee"> {{employee.personalPhoneNumber}} </td>
    </ng-container>

    <!-- onSitePhoneNumber Column -->
    <ng-container matColumnDef="onSitePhoneNumber">
      <th mat-header-cell *matHeaderCellDef>onSitePhoneNumber</th>
      <td mat-cell *matCellDef="let employee"> {{employee.onSitePhoneNumber}} </td>
    </ng-container>

    <!-- contractId Column -->
    <ng-container matColumnDef="contractId">
      <th mat-header-cell *matHeaderCellDef>contractId</th>
      <td mat-cell *matCellDef="let employee"> {{employee.contractId}} </td>
    </ng-container>

    <!-- locationId Column -->
    <ng-container matColumnDef="locationId">
      <th mat-header-cell *matHeaderCellDef>locationId</th>
      <td mat-cell *matCellDef="let employee"> {{employee.locationId}} </td>
    </ng-container>

    <!-- creationDate Column -->
    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef>creationDate</th>
      <td mat-cell *matCellDef="let employee"> {{employee.creationDate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let dataSource; columns: columnsToDisplay;"></tr>
  </table>
</div>
